DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=
DB_SYNCING=true
SQL_LOG=true

RABBIT_QUEUE=transactions
RABBIT_URL=amqp://USER:PASS@HOST:5672

RABBIT_QUEUE1=transactions1
RABBIT_QUEUE2=transactions2
RABBIT_QUEUE3=transactions3
RABBIT_QUEUE4=transactions4
RABBIT_QUEUE5=transactions5
RABBIT_QUEUE6=transactions6

REST_SERVER=true
MQ_CONSUMER=false

REST_PRODUCES_MSG=true